.main-div {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* background-color: rgb(178, 202, 209); */
  background-image:
  linear-gradient(rgba(143, 204, 204, 0.5),rgba(6, 36, 116, 0.5)),
  url("https://images.pexels.com/photos/2756406/pexels-photo-2756406.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position-y: center;
  /* background-color: rgba(143, 204, 204, 0.9); */
}

.title-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.cell {  
  /* background: rgb(199, 209, 110);   */
  background: #039595;
  /* background: #062474; */
  position: absolute;
}

.board {
  position: relative;  
  margin: 0 auto;  
  border-radius: 5px;
  /* border: 2px solid black; */
  /* background-color: rgb(95, 23, 89);
  background-image:
        linear-gradient(rgb(158, 41, 148) 1px, transparent 1px),
        linear-gradient(90deg, rgb(158, 41, 148) 1px, transparent 1px); */

  /* background-color: #062474;
  background-image:
        linear-gradient(#2d4b96 1px, transparent 1px),
        linear-gradient(90deg, #2d4b96 1px, transparent 1px); */

  background-color: #000;
  background-image:
        linear-gradient(#2d4b96 1px, transparent 1px),
        linear-gradient(90deg, #2d4b96 1px, transparent 1px);
}

.rules, .about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about a {
  margin-left: 5px;
  color: white;
}

.about a:hover {
  color: rgb(216, 173, 241);
}

.controls {
  background: linear-gradient(#000, #062474);
  color: #90cccc;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  width: 150px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-top: -65px;
  margin-left: 20px;
}

.controls input {
  width: 100px;
  text-align: center;
  margin: 10px auto;
}

.controls p {
  margin-top: 0px;
}

.button {
  margin: 10px auto;
  width: 100px;
}

.button:hover {
  background-color: rgb(148, 147, 147);
  color: #062474;
}

h1 {
  /* background-color: #062474; */
  /* background: linear-gradient(#062474, #000); */
  background: linear-gradient(#000, #062474);
  color: #90cccc;
  padding: 10px;
  margin-top: 10px;
  /* border: 2px solid #039595; */
  /* box-shadow:#039595; */
  border-radius: 10px;
  box-shadow: 5px 10px 18px darkslategray;
}